<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="LaunchSetting" value="" />
      <add key="LaunchRename" value="" />
      <add key="EQLocation" value="" />
      <add key="Name1" value="" />
      <add key="Name2" value="" />
      <add key="Name3" value="" />
      <add key="Name4" value="" />
      <add key="Login1" value="" />
      <add key="Login2" value="" />
      <add key="Login3" value="" />
      <add key="Login4" value="" />
    </appSettings>
</configuration>